{#
/**
 * @file
 * Default theme implementation for Moneris Checkout.
 *
 * Available variables:
 * - height: The height of the iframe.
 * - width: The width of the iframe.
 */
#}
<div id="monerisCheckoutWrapper" class="moneris-checkout-wrapper">
  <div id="monerisCheckout" class="moneris-checkout"></div>
</div>
